# Ignore Gradle project-specific cache directory
.gradle
.settings
.classpath
.DS_Store
# Ignore Gradle build output directory
build/**
bin/**
# Ignore eclipse
.classpath
.settings
src/test/java/org/cc/CCTest.java
target/**
